* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --bg-color: #212529;
  --border-color: #666;
  --font-color: #f1f5f9;
  --primary-color: #f5b003;
  --error-color: #ff0043;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1.5rem;
}

.calculator {
  max-width: 45rem;
  margin: 6rem auto;
  padding: 1.5rem;
}
#header {
  display: flex;
  justify-content: space-between;
}
.calc {
  color: var(--primary-color);
}
#switchTheme {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  color: var(--font-color);
}
#switchTheme:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

#display {
  max-width: 100rem;
  border: 1px solid var(--border-color);
  height: 4rem;
  margin: 1rem 0;
  border-radius: 5px;
  text-align: end;
  padding-right: 10px;
  font-size: 2rem;
}
#buttons-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
#buttons-area button {
  padding: 1rem;
  color: var(--bg-color);
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}

#buttons-area button:hover {
  box-shadow: 1px 1px 10px var(--primary-color);
}
.error {
  background-color: var(--error-color);
}
.success {
  background-color: var(--bg-color);
}
